a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  box-sizing: border-box;
  --container-padding-inline: 16px;
  @media screen and (max-width: 412px) {
    --container-padding-inline: 16px;

    .metric {
      width: 150px;
    }
  }
  --error-color: red;
}

html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 36px;
  font-weight: 700;
  color: #0057ff;
  border-top: #ccc dashed 2px;
  border-bottom: #ccc dashed 2px;
}

.white {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--container-padding-inline);
}



.footer {
  width: 100%;
  margin-bottom: 31px;
}

.footer__title {
  margin-top: 22px;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.footer__register {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal_active {
  display: block;
}

.modal__wrapper {
  height: 90vh;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-radius: 15px 15px 0 0;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.modal__dash {
  border: #abacb1 solid 2px;
  border-radius: 5px;
  width: 50px;
  margin-top: 20px;
}

.modal__title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
}

.modal__auth {
  display: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.modal__fields {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.modal__input {
  width: 100%;
  padding: 24px 10px 6px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  color: #747474;
}

.modal__error {
  position: absolute;
  top: 58px;
  left: 10px;
  color: #e37298;
  font-size: 10px;
}

.modal__label {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.modal__input:focus + label,
.modal__input:not(:placeholder-shown) + label {
  top: 14px;
  font-size: 10px;
}

.error_field {
  background-color: #ffdfea;
  border: 1px solid #ff9ebf;
}

.error {
  color: var(--error-color);
}

.add__messages-content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  min-height: 170px;
  max-height: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
}

.add__messages-content:focus-within {
  border: 2px solid #0057ff;
}

.add__messages-text {
  width: 100%;
  resize: none;
  border: none;
}

.add__messages-text:focus {
  outline: none;
}

.add__messages-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add__messages-file-picture {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add__messages-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #0057ff;
  border-radius: 5px;
  width: 36px;
  height: 36px;
}

.add__messages-submit {
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #0057ff;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
}

.add__messages-progress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add__messages-picture img {
  width: 20px;
  height: 20px;
}
